*{
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
   
   
}

.homeSlider{
    animation:slider 10s infinite alternate ;
   
    background-color: aqua;
}

@keyframes slider {
    0%{
         
    }
    30%{
        transform: translateY(20px);
    }
    60%{
        background-color: white;
        transform: translateY(40px);
    }
    100%{
        background-color: black;
        transform: translateY(60px);
    }
    
}